<ion-view view-title="Movies">
  <ion-content>
    
      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper item-input">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input ng-change="searchFor(movieInput)" type="text" placeholder="Search for movies" ng-model="movieInput">
        </label>
        <button class="button button-clear" ng-click="resetTopMovies()">
          Cancel
        </button>
      </div>
    <ion-list>
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" type="item-text-wrap" ng-repeat="movie in movies" href="#/tab/movies/{{movie.id}}">

        <img ng-src="http://image.tmdb.org/t/p/w342/{{movie.poster_path}}" >
      
        <h2>{{movie.original_title}}</h2>
        <p>{{movie.release_date | date : format : timezone}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>


      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>