<ion-view view-title="Watched Movies">
  <ion-content>
  <div class="row" style="text-align:center;width:100%;">
  	<div class="col-33">
  		<button class="button-block button button-light" ng-click="predicate = 'title'; reverse=!reverse">Name</button>
  	</div>
  	<div class="col-33">
  		<button class="button-block button button-light" ng-click="predicate = 'addDate'; reverse=!reverse">Last added</button>
  	</div>
  	<div class="col-33">
  		<button class="button-block button button-light" ng-click="predicate = 'popularity'; reverse=!reverse">Popularity</button>
  	</div>
  </div>
  <ion-toggle ng-model="shouldShowDelete">
    Display delete selection
  </ion-toggle>
    <ion-list show-delete="shouldShowDelete">
      <ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="movie in watched | orderBy:predicate:reverse" type="item-text-wrap" href="#/tab/watched/{{movie.id}}">
      <ion-delete-button ng-click="remove(movie)" class="ion-minus-circled"></ion-delete-button>
      <img ng-src="img/{{$index%3}}.jpg">
      <h2>{{movie.original_title}}</h2>
      <h2>Date added: {{movie.addDate | date : format : timezone}}</h2>
      <p>Release date: {{movie.release_date | date : format : timezone}}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
