<ion-view>
	<ion-nav-title>{{movie.title}}</ion-nav-title>
  	<ion-content class="padding">
        <img width="100%" ng-src="http://image.tmdb.org/t/p/w342/{{movie.backdrop_path}}">
        <div ng-switch on="addMovie">
          <div ng-switch-when="true">
            <button class="button button-block button-positive" ng-click="addToFavorites()">
              Add movie to watchlist
            </button>
          </div>
          <div ng-switch-default>
            <button class="button button-block button-assertive" ng-click="removeFromFavorites()">
              Remove movie from watchlist
            </button>
          </div>
        </div>
        <p><b>Year</b>: {{movie.release_date | date : format : timezone}}</p>
        <p><b>Actors</b>: <span ng-repeat="actor in credits">{{actor.name}}, </span></p>
        <p><b>Overview</b>: {{movie.overview}}</p>
        
		<!--
		<video class="videoPlayer" preload="metadata">
			<source src='{{trailer}}' type="mp4"> 

		</video>-->
    </ion-list>
  </ion-content>
</ion-view>