<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Movies Tab -->
  <ion-tab title="Movies" icon-off="ion-ios7-film-outline" icon-on="ion-ios7-film" href="#/tab/movies">
    <ion-nav-view name="tab-movies"></ion-nav-view>
  </ion-tab>

  <!-- Watched Movies Tab -->
  <ion-tab title="Watched movies" icon-off="ion-ios7-heart-outline" icon-on="ion-ios7-heart" href="#/tab/watched">
    <ion-nav-view name="tab-watched"></ion-nav-view>
  </ion-tab>

</ion-tabs>
