<ion-view>
	<ion-nav-title>{{watched.original_title}}</ion-nav-title>
  <ion-content class="padding">
    <p>
    	<b>Genres: </b><span ng-repeat="genre in watched.genres">{{genre.name}}, </span>
    </p>
    <p>
    	<b>Year: </b> {{watched.release_date | date : format : timezone}}
    </p>
    <p>
      <b>Actors</b>: <span ng-repeat="actor in watched.credits">{{actor.name}}, </span>
    </p>
    <p>
     <b>Overview</b>: {{watched.overview}}
    </p>
  </ion-content>
</ion-view>
